
<div class= "container form-style">
  <%= simple_form_for @bike do |f| %>
  <%= f.input :description  %>

  <%= f.input :photo %>
  <%= f.input :price %>
  <%= f.input :location %>
  <div class="user-button">
  <%= f.submit class:'btn btn-primary'%>  
  
  <% end %>
  <div class="back-button user-button-actions">
  <%= link_to "Back Home", bikes_path, class:'btn btn-primary' %>
  </div>
  </div>
</div>
