<h1 class="text-center title-index-padding">Find the <strong id="title-index">perfect bike</strong> <strong id="title-index">to enjoy</strong> the city</h1>


<div class="container-fluid">

  <div class="col-sm-7">
    <div class="row">
      <% @bikes.each do |bike| %>
        <div class="col-xs-12 col-sm-6">
          <%= link_to bike_path(bike) do %>
            <div class="card-container">
              <div class="card-image"
                  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path bike.photo, width: 400,height: 300, crop: :thumb %>')">
                <div class="card-email"><%= bike.user.email %></div>
                <%= cl_image_tag bike.photo, width: 50, height: 50, crop: :fill, class: "card-user" %>
              </div> 
              <div class="card">
                <div class="card-description">
                  <p><strong id="city"><%= bike.location %></strong></p>
                  <p><%= bike.description %></p>
                </div>
                <div class="card-price">
                  <h2> <%= bike.price %> €</h2>
                </div> 
              </div> 
            </div>
          <% end %>
        </div>
      <% end %>
    </div> 
  </div> 