<h1 class="text-center title-index-padding">
  Find the <strong id="title-index">perfect bike</strong>
  <strong id="title-index">to enjoy</strong> the city
</h1>

<section class="card-container">
  <% @bikes.each do |bike| %>
  <div class="card">
    <div class="card__textContent">
      <div class="card__title">
        <div class="card__title-main">Your Bike</div>
        <div class="card__title-sub"><%= bike.location %></div>
      </div>
      <div
        class="card__image"
        style="
          background-image: linear-gradient(
              rgba(0, 0, 0, 0.3),
              rgba(0, 0, 0, 0.3)
            ),
            url('<%= cl_image_path bike.photo.key, height: 300, width: 400, crop: :fill %>');
        "
      ></div>
      <div class="card__content">
        <p><%= bike.description %></p>
        <p><%= bike.price %> €</p>
        <p><%= bike.user.email %></p>
      </div>
      <div class="card__button button">Learn More</div>
    </div>
  </div>
  <% end %>
</section>
