<%= render 'shared/banner' %>

<div class="pt-5 pb-5 px-5">
  <div class="d-flex justify-content-between booking-content">
  <div class="booking-info container-listing">
    <%= render 'bikes/card' %>
    <%= pluralize @bike.reviews.size, "review" %>
    </div>
    <div class="booking-form d-flex align-items-center justify-content-center">
    <div>
      <%= simple_form_for [@bike, @booking] do |form| %>
       <%= form.input :pick_up
      %> <%= form.input :drop_off %>
      <div class="user-button">
        <%= form.submit class:'btn btn-primary' %>
        <% end %> 
        <%= link_to "Cancel", bikes_path, class:'btn btn-primary user-button-actions' %>
      </div>
    </div>
    </div>
  </div>

  <div id="reviews">
    <% if @bike.reviews.blank? %>
      <div class="reviews-title">
        <strong>Be the first to leave a review for <%= @bike.description %></strong>
      </div>
    <% else %>
    <div class="reviews-title">
      <strong>Bike´s reviews</strong>
    </div>
      <div>
        <% @bike.reviews.each do |review| %>
          <div class="review card-product d-flex justify-content-between flex-column" >
            <p id="review-<%= review.id %>" style="font-size: 20px; padding-top:10px"><%= review.content %></p>
          </div> 
        <% end %>
      </div>
    <% end %>
  </div class="reviews-form">
  <%= simple_form_for([ @bike, @review ], remote: true) do |f| %>
    <%= f.input :content, as: :text, label:"Write a review", style: "font-size:20px", input_html: {rows: 5} %>
    <%= f.button :submit, class:'btn btn-primary' %>
  <% end %>
</div>
