<%= render 'shared/banner' %>

<div class="pt-5 pb-5 px-5">
  <div class="d-flex justify-content-between booking-content">
    <div class="booking-form d-flex align-items-center justify-content-center">
    <div>
      <%= simple_form_for [@bike, @booking] do |form| %>
       <%= form.input :pick_up
      %> <%= form.input :drop_off %>
      <div class="user-button">
        <%= form.submit class:'btn btn-primary' %>
        <% end %> 
        <%= link_to "Cancel", bikes_path, class:'btn btn-primary user-button-actions' %>
      </div>
    </div>
    </div>
    <div class="booking-info">
    <%= render 'bikes/card' %>
    </div>
  </div>
</div>
